__pycache__/
.DS_Store
.idea
.env
.hypothesis/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv-poetry/
.venv-uv/
.vscode/
*.pyc
*.tmp.py
apptoken.txt
atr/_version.py
bootstrap/build/
bootstrap/source/css/
bootstrap/source/scss/
dev/
/docs/
node_modules/
state/
