<li class="nav-item dropdown">
  <button class="nav-link dropdown-toggle btn"
          id="dropdownASF"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          aria-controls="menuASF">The ASF</button>
  <ul class="dropdown-menu dropdown-menu"
      id="menuASF"
      aria-labelledby="dropdownASF">
    <li>
      <a class="dropdown-item" href="https://www.apache.org/">Foundation</a>
    </li>
    <li>
      <a class="dropdown-item" href="https://www.apache.org/licenses/">License</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="https://www.apache.org/foundation/thanks.html">Thanks</a>
    </li>
    <li>
      <a class="dropdown-item" href="https://www.apache.org/security/">Security</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a>
    </li>
  </ul>
</li>
