<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-info-light fixed-top navbar-ribbon"
     aria-label="Fifth navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ as_url(get.root.index) }}">
      <img src="https://apache.org/img/asf_logo.png"
           alt="The Apache Software Foundation"
           class="asf-logo" />
      <span class="trusted-releases">Trusted Releases</span>
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarADP"
            aria-controls="navbarADP"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-adp-offset" id="navbarADP">
      <ul class="navbar-nav me-auto">
        {% if current_user %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               data-bs-toggle="dropdown"
               aria-expanded="false">Candidates</a>
            <ul class="dropdown-menu">
              <li>
                &nbsp;<i class="bi bi-play-circle"></i>
                <a href="{{ as_url(get.root.index) }}">View</a>
              </li>
              {% set unfinished_releases = unfinished_releases_fn(current_user.uid) %}
              {% if unfinished_releases %}
                {% for project_short_display_name, project_name, releases in unfinished_releases %}
                  <hr class="dropdown-divider" />
                  <h4>
                    &nbsp;<a href="{{ as_url(get.projects.view, name=project_name) }}"
   class="text-reset">{{ project_short_display_name }}</a>
                  </h4>
                  {% for release in releases %}
                    <li>
                      &nbsp;<i class="bi bi-tag"></i>
                      <a href="{{ release_as_url(release) }}">{{ release.version }}</a>
                    </li>
                  {% endfor %}
                {% endfor %}
              {% endif %}
              {% set user_projects = user_projects_fn(current_user.uid) %}
              {% if user_projects %}
                {% set max_projects = 8 %}
                <hr class="dropdown-divider" />
                <h4>&nbsp;Start a release</h4>
                {% for project_name, project_full_name in user_projects[:max_projects] %}
                  <li>
                    &nbsp;<i class="bi bi-plus-circle"></i>
                    <a href="{{ as_url(get.start.selected, project_name=project_name) }}">{{ project_full_name.removeprefix("Apache ").removesuffix(" (Incubating)") }}</a>
                  </li>
                {% endfor %}
                {% if user_projects|length > max_projects %}
                  <li>
                    &nbsp;<i class="bi bi-three-dots"></i>
                    (<a href="{{ as_url(get.root.index) }}">{{ user_projects|length - max_projects }} more</a>)
                  </li>
                {% endif %}
              {% endif %}
            </ul>
          </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             data-bs-toggle="dropdown"
             aria-expanded="false">Catalog</a>
          <ul class="dropdown-menu">
            <li>
              &nbsp;<i class="bi bi-view-list"></i>
              <a href="{{ as_url(get.release.releases) }}">Releases</a>
            </li>
            <li>
              &nbsp;<i class="bi bi-collection"></i>
              <a href="{{ as_url(get.committees.directory) }}">Committees</a>
            </li>
            <li>
              &nbsp;<i class="bi bi-download"></i>
              {# This path is handled by the frontend proxy server #}
              {# https://djlint.com/docs/ignoring-code/ #}
              {# djlint:off J018 #} <a href="/downloads/">Downloads</a> {# djlint:on #}
            </li>
          </ul>
        </li>
        {% if current_user %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               data-bs-toggle="dropdown"
               aria-expanded="false">Configure</a>
            <ul class="dropdown-menu">
              <li>
                &nbsp;<i class="bi bi-collection"></i>
                <a href="{{ as_url(get.committees.directory) }}">Committees</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-collection"></i>
                <a href="{{ as_url(get.projects.projects) }}">Projects</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-key"></i>
                <a href="{{ as_url(get.keys.keys) }}">Public keys</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-key"></i>
                <a href="{{ as_url(get.tokens.tokens) }}">API tokens</a>
              </li>
            </ul>
          </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             data-bs-toggle="dropdown"
             aria-expanded="false">Help</a>
          <ul class="dropdown-menu">
            {% if current_user %}
              <li>
                &nbsp;<i class="bi bi-book"></i>
                <a href="{{ as_url(get.root.tutorial) }}">Tutorial</a>
              </li>
            {% endif %}
            <li>
              &nbsp;<i class="bi bi-book"></i>
              <a href="{{ as_url(get.docs.index) }}">Documentation</a>
            </li>
            <li>
              &nbsp;<i class="bi bi-book"></i>
              <a href="{{ as_url(get.root.policies) }}">ASF Policies</a>
            </li>
            {% if current_user %}
              <li>
                &nbsp;<i class="bi bi-file-earmark-code"></i>
                {# djlint:off J018 #} <a href="/api/docs">OpenAPI</a> {# djlint:on #}
              </li>
            {% endif %}
          </ul>
        </li>
        {% if current_user %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               data-bs-toggle="dropdown"
               aria-expanded="false">Source</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="https://github.com/apache/tooling-docs/">Tooling Docs</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item"
                   href="https://github.com/apache/tooling-trusted-releases">Trusted Releases</a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="https://github.com/apache/tooling-releases-client">Trusted Releases Client</a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="https://github.com/apache/tooling-actions">Trusted Releases Actions</a>
              </li>
            </ul>
          </li>
        {% endif %}
        {% if is_viewing_as_admin_fn(current_user.uid) %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               href="#"
               data-bs-toggle="dropdown"
               aria-expanded="false">Admin</a>
            <ul class="dropdown-menu">
              <li>
                &nbsp;<i class="bi bi-list-ul"></i>
                <a href="{{ as_url(admin.all_releases) }}"
                   {% if request.endpoint == 'atr_admin_all_releases' %}class="active"{% endif %}>All releases</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-person-plus"></i>
                <a href="{{ as_url(admin.browse_as_get) }}"
                   {% if request.endpoint == 'atr_admin_browse_as_get' %}class="active"{% endif %}>Browse as user</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-arrow-repeat"></i>
                <a href="{{ as_url(admin.consistency) }}"
                   {% if request.endpoint == 'atr_admin_consistency' %}class="active"{% endif %}>Consistency</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-database"></i>
                <a href="{{ as_url(admin.data) }}"
                   {% if request.endpoint == 'atr_admin_data' %}class="active"{% endif %}>Browse database</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-trash"></i>
                <a href="{{ as_url(admin.delete_committee_keys_get) }}"
                   {% if request.endpoint == 'atr_admin_delete_committee_keys_get' %}class="active"{% endif %}>Delete committee keys</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-trash"></i>
                <a href="{{ as_url(admin.delete_release_get) }}"
                   {% if request.endpoint == 'atr_admin_delete_release_get' %}class="active"{% endif %}>Delete release</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-gear"></i>
                <a href="{{ as_url(admin.env) }}"
                   {% if request.endpoint == 'atr_admin_env' %}class="active"{% endif %}>Environment</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-key"></i>
                <a href="{{ as_url(admin.keys_check_get) }}"
                   {% if request.endpoint == 'atr_admin_keys_check_get' %}class="active"{% endif %}>Keys check</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-key"></i>
                <a href="{{ as_url(admin.keys_regenerate_all_get) }}"
                   {% if request.endpoint == 'atr_admin_keys_regenerate_all_get' %}class="active"{% endif %}>Regenerate all keys</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-key"></i>
                <a href="{{ as_url(admin.keys_update_get) }}"
                   {% if request.endpoint == 'atr_admin_keys_update_get' %}class="active"{% endif %}>Update keys</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-person-plus"></i>
                <a href="{{ as_url(admin.ldap_get) }}"
                   {% if request.endpoint == 'atr_admin_ldap_get' %}class="active"{% endif %}>LDAP search</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-speedometer2"></i>
                <a href="{{ as_url(admin.performance) }}"
                   {% if request.endpoint == 'atr_admin_performance' %}class="active"{% endif %}>Page performance</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-arrow-repeat"></i>
                <a href="{{ as_url(admin.projects_update_get) }}"
                   {% if request.endpoint == 'atr_admin_projects_update_get' %}class="active"{% endif %}>Update projects</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-list-task"></i>
                <a href="{{ as_url(admin.tasks_) }}"
                   {% if request.endpoint == 'atr_admin_tasks_' %}class="active"{% endif %}>Background tasks</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-clock-history"></i>
                <a href="{{ as_url(admin.tasks_recent, minutes=5) }}">Recent tasks</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-person-badge"></i>
                <a href="{{ as_url(admin.toggle_view_get) }}"
                   {% if request.endpoint == 'atr_admin_toggle_view_get' %}class="active"{% endif %}>Toggle admin view</a>
              </li>
              <li>
                &nbsp;<i class="bi bi-arrow-repeat"></i>
                <a href="{{ as_url(admin.validate_) }}"
                   {% if request.endpoint == 'atr_admin_validate_' %}class="active"{% endif %}>Validate</a>
              </li>
            </ul>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             data-bs-toggle="dropdown"
             aria-expanded="false">Sign-in</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="">Number 1</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="">Number 2</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">About The ASF</a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="https://www.apache.org/">Foundation</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="https://www.apache.org/licenses/">License</a>
            </li>
            <li>
              <a class="dropdown-item"
                 href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a>
            </li>
            <li>
              <a class="dropdown-item"
                 href="https://www.apache.org/foundation/thanks.html">Thanks</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="https://www.apache.org/security/">Security</a>
            </li>
            <li>
              <a class="dropdown-item"
                 href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
